:root {
  --white-color: #FFFFFF;
  --black-color: #000000;

  // LIGHT
  // Background
  --bg: #FCFDFF;
  --bg-alt: #F7F9F9;
  --bg-alter: #EFF3F4;
  --border-color: #CFD9DE;
  // Text
  --text-color-light: #536471;
  --text-color: #0F1419;

  // DARK
  // Background
  --dark-bg: #0F1419;
  --dark-bg-alt: #15181C;
  --dark-bg-alter: #202327;
  --dark-border-color: #2F3336;
  // Text
  --dark-text-light: #6E767D;
  --dark-text-color: #FCFDFF;

  // Green
  --green-100: #CDF1DF;
  --green-200: #9BE3BF;
  --green-300: #69D59F;
  --green-400: #38C57E;
  --green-500: #2A945F;
  --green-600: #21764B;
  --green-700: #195839;
  --green-800: #113B26;
  --green-900: #081D13;

  // Purple
  --purple-100: #E1CDF1;
  --purple-200: #C29BE3;
  --purple-300: #A469D5;
  --purple-400: #8638C5;
  --purple-500: #642A93;
  --purple-600: #502176;
  --purple-700: #3C1958;
  --purple-800: #28113B;
  --purple-900: #14081D;
}